<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="card-header bg-white pb-5">
          <span class="padding-bottom--15 text-center mb-3">Client Profile</span>
        </div>

        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-2" [ngClass]="{'focused':focus===true}">
              <div class="field padding-bottom--24">
                <label for="name">Campaign Code</label>
                <input type="text" minlength="4" name="name" required [(ngModel)]="profile.campaignCode">
              </div>
            </div>

            <div class="form-group mb-2" [ngClass]="{'focused':focus===true}">
              <div class="field padding-bottom--24">
                <label for="paybill">Paybill Number</label>
                <input type="text" minlength="4" name="paybill" [(ngModel)]="profile.shortCode">
              </div>
            </div>
            
            <div class="form-group mb-2" [ngClass]="{'focused':focus===true}">
              <div class="field padding-bottom--24">
                <label for="passkey">Pass Key</label>
                <input type="text" name="passkey" [(ngModel)]="profile.passKey">
              </div>
            </div>

            <div class="form-group mb-2" [ngClass]="{'focused':focus===true}">
              <div class="field padding-bottom--24">
                <label for="consumerKey">Consumer Key</label>
                <input type="text" name="consumerKey" [(ngModel)]="profile.consumerKey">
              </div>
            </div>

            <div class="form-group mb-2" [ngClass]="{'focused':focus===true}">
              <div class="field padding-bottom--24">
                <label for="consumerSecret">Consumer Secret</label>
                <input type="text" name="consumerSecret" [(ngModel)]="profile.consumerSecret">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4">Submit</button>
              <a [routerLink]="['/deposit']" class="btn btn-link text-default float-right">.</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
